  
def wrong(pandan) :
    if len(pandan) !=3:
        print("세 값만을 모두 입력해주세요")
        return -1
    name, grade, time = pandan
    rtime=float(time)
    if name.lower()=='q' :
        return 0
    elif grade not in grade_score:
        print("학점 등급을 제대로 입력해주세요.")
        return -1
    elif rtime<=0 :
        print("이수 학점이 0이하일 수는 없습니다,")
        return -1
    else :
        return 1


grades=[]
grade_score={'A+':4.5, 'A0':4.0, 'B+':3.5, 'B0':3.0, 'C+':2.5, 'C0':2.0, 'D+':1.5, 'D0':1.0, 'F':0.0 }
total_score=0
total_time=0

while True:
    ans=input("과목명, 학점 등급, 이수 학점을 순서대로 입력해주세요.(예시 : 파이썬 A0 3)\n종료하고 싶으면 q 0 0입력\n")
    pandan=ans.split()
    p=wrong(pandan)
    if p == 0 :
        break
    elif p == -1 :
        continue

    name, grade, time = pandan
    rtime=float(time)
    grades.append({'name':name, 'grade':grade, 'time':rtime})
    total_time+=rtime
    total_score=total_score+grade_score[grade]*rtime


print("\n\n성적 목록 정리")
for x in grades :
    print("과목:", x['name'], " 등급:", x['grade'], " 이수학점", x['time'])

print("최종 학점 : ", total_score/total_time)
print("수고하셨습니다. 조금더 노력해보세요!!")
